.ant-pro-layout .ant-pro-layout-content {
    padding-bottom: 96px !important;
}

.ant-pro-layout-top {
    height: 100%;
}
.my-prefix-layout-top{
    height: 100%;
}
.css-dev-only-do-not-override-1vsrusi{
    padding-right: 25px;
}
